{"swagger":"2.0","info":{"description":"DBpedia Spotlight is a tool for automatically annotating mentions of DBpedia resources in text, providing a solution for linking unstructured information sources to the Linked Open Data cloud through DBpedia","version":"1.0.0","title":"DBpedia Spotlight","termsOfService":"http://swagger.io/terms/","contact":{"email":"dbpedia@infai.org"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"api.dbpedia-spotlight.org","schemes":["https"],"basePath":"/de","paths":{"/annotate":{"get":{"summary":"Returns annotated text / entities from an URL","consumes":["application/x-www-form-urlencoded"],"produces":["application/json","text/html","application/n-triples","application/ld+json","text/turtle"],"description":"A 4(four) step process -  Spotting, Candidate Mapping, Disambiguation and Linking / Stats -  for linking unstructured information sources  \n","parameters":[{"name":"text","in":"query","description":"text to be annotated.","required":true,"type":"string"},{"name":"url","in":"query","description":"URL to be annotated.","required":false,"type":"string","format":"url"},{"name":"confidence","in":"query","description":"confidence score for disambiguation / linking","required":false,"type":"number"},{"name":"support","in":"query","description":"how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia","required":false,"type":"number"},{"name":"types","in":"query","description":"types filter (Eg.DBpedia:Place)","required":false,"type":"string"},{"name":"sparql","in":"query","description":"SPARQL filtering","required":false,"type":"string"},{"name":"policy","in":"query","description":"(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.","required":false,"type":"string"}],"tags":["Annotate"],"responses":{"200":{"description":"An annotated text"}}}},"/candidates":{"get":{"summary":"Returns candidates from an URL","consumes":["application/x-www-form-urlencoded"],"produces":["application/json","text/html","application/n-triples","application/ld+json","text/turtle"],"description":"A 2(two) step process -  Spotting, Candidate Mapping -  for linking unstructured information sources  \n","parameters":[{"name":"text","in":"query","description":"text to be annotated.","required":true,"type":"string"},{"name":"url","in":"query","description":"URL to be annotated.","required":false,"type":"string","format":"url"},{"name":"confidence","in":"query","description":"confidence score for disambiguation / linking","required":false,"type":"number"},{"name":"support","in":"query","description":"how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia","required":false,"type":"number"},{"name":"types","in":"query","description":"types filter (Eg.DBpedia:Place)","required":false,"type":"string"},{"name":"sparql","in":"query","description":"SPARQL filtering","required":false,"type":"string"},{"name":"policy","in":"query","description":"(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.","required":false,"type":"string"}],"tags":["Candidates"],"responses":{"200":{"description":"possible annotations for a text"}}}},"/spot":{"get":{"summary":"Returns candidates from an URL","consumes":["application/x-www-form-urlencoded"],"produces":["application/json","text/html","application/n-triples","application/ld+json","text/turtle"],"description":"A 1(one) step process -  Spotting -  for linking unstructured information sources  \n","parameters":[{"name":"text","in":"query","description":"text to be annotated.","required":true,"type":"string"},{"name":"url","in":"query","description":"URL to be annotated.","required":false,"type":"string","format":"url"},{"name":"confidence","in":"query","description":"confidence score for disambiguation / linking","required":false,"type":"number"},{"name":"support","in":"query","description":"how prominent is this entity in Lucene Model, i.e. number of inlinks in Wikipedia","required":false,"type":"number"},{"name":"types","in":"query","description":"types filter (Eg.DBpedia:Place)","required":false,"type":"string"},{"name":"sparql","in":"query","description":"SPARQL filtering","required":false,"type":"string"},{"name":"policy","in":"query","description":"(whitelist) select all entities that have the same type;  (blacklist) - select all entities that have not the same type.","required":false,"type":"string"}],"tags":["Annotate"],"responses":{"200":{"description":"spots for a text"}}}}}}
