<div class="container">
    <div class="row">
        <div class="col-xs-6">
		  <div class="panel panel-info">
			  <div class="panel-heading">COMMUNITY</div>
			  <div class="panel-body">
			  The best way to get help with DBpedia Spotlight is to send a message to our <a href="https://lists.sourceforge.net/mailman/listinfo/dbp-spotlight-users" target="_blank">mailing list</a>
			  We'd love if you gave us some feedback.
		   </div>
		</div>
        </div>
        <div class="col-xs-6">
		  <div class="panel panel-success">
			  <div class="panel-heading">OTHERS</div>
			  <div class="panel-body">
					<p><strong>Institute for Applied Informatics - <a href="http://infai.org/en/">InfAI</a></strong></p>
					<p><strong>KILT - Knowledge Integration and Language Technologies</strong></p>
					<p>C/O: Dr.Ing. Sebastian Hellmann</p>
					<p><span class="glyphicon glyphicon-envelope"></span> hellmann (at) informatik.uni-leipzig.de</p>
					<p>Phone: +49-341-9732223</p>
					<p>Hainstraße 11, 04109 Leipzig, Germany</p>
		   </div>
        </div>
    </div>
</div>
