<div class="container">
    <div class="row">
        <div class="col-xs-6">
		  <div class="panel panel-info">
			  <div class="panel-heading">COMUNIDADE</div>
			  <div class="panel-body">
			   Faça contato conosco através da lista de discussão <a href="https://lists.sourceforge.net/lists/listinfo/dbpedia-portuguese" target="_blank">dbpedia-portuguese@lists.sourceforge.net</a>.
		   </div>
		</div>
        </div>
        <div class="col-xs-6">
		  <div class="panel panel-success">
			  <div class="panel-heading">OUTROS</div>
			  <div class="panel-body">
					<p>A/C: Pablo N. Mendes</p>
					<p><span class="glyphicon glyphicon-envelope"></span> pablomendes (at) gmail.com</p>
  		   </div>
        </div>
    </div>
</div>
