<footer class="footer_area">
	<div class="container spaca-footer">
		<div class="row">
			<div class="col-sm-4">
				<div class="footer_widget">
					<h4>DBpedia Spotlight</h4>
					<p>DBpedia Spotlight is a tool for automatically annotating mentions of DBpedia resources in text, providing a solution for linking unstructured information sources to the Linked Open Data cloud through DBpedia.</p>
					<ul class="bottom_social">
					 <li><a href="https://github.com/dbpedia-spotlight" target="_blank"><img src="/img/icon-github.png" class="icon-social" /></a></li>
					 <li><a href="https://twitter.com/dbpedia" target="_blank"><img src="/img/icon-twitter.png" class="icon-social" /></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>FEATURED BY</h4>
					<ul class="important_link">
						<li><a href="http://www.fu-berlin.de"  target="_blank"><img src="/img/freie.png" /></a></li>
						<li><a href="http://www.uni-leipzig.de"  target="_blank"><img src="/img/universitat-leipzig.png" /></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="footer_widget">
					<h4>SUPPORTED BY</h4>
					<ul class="important_link" style="display:inline-flex;">
						<li><a href="http://infai.org/en/" target="_blank"><img src="/img/logo-infai-10jahre.png" /></a></li>
					</ul>  
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>HOSTING</h4>
					<ul class="important_link" style="display:inline-flex;">
						<li><a href="http://www.ufjf.br" target="_blank"><img src="/img/ufjf.png" /></a></li>
					</ul>  
				</div>
			</div>
			
		</div>
	</div>
	<div class="powered">
		<div class="container ">
			<div class="row ">
				<div class="col-sm-12">
					<div class="ft_bottom text-center">
						<p>
							DBpedia Spotlight 2016. This work is licensed under Creative Commons License <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
						</p>
					</div>
				</div>
			   </div>
		</div>
	<div>
</footer>
