<header>
      <div class="menu_area ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo hidden-xs hidden-sm">
                            <a href="http://www.dbpedia-spotlight.org">
                                <img src="/img/dbpedia_spotlight_logo.jpg" class="logomarca" alt="logo dbpedia" title="DBpedia Spotlight"/>
                            </a>
                        </div>
						<center><a href="http://www.dbpedia-spotlight.org" class="logomarca hidden-md hidden-lg"><img src="img/dbpedia_spotlight_logo.png" class="logomarca" alt="logo dbpedia" title="DBpedia Spotlight"/></a></center>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="mainnmenu">
                                <nav>
                                    <ul class="menu">
									<li  class="active"><a href="/" title="Home">Home</a></li>
                                    <li> <a href="/publications" title="Publications">Publications</a> </li>
									<li> <a href="#" title="Documentation">Documentation</a>
                                      <ul class="sub_menu">
										<li><a href="/getting-started" title="Getting Started">Getting Started</a></li>
										<li><a href="/spotlight-api" title="API">API</a></li>
										<li><a href="/licenses" title="Licenses">Licenses</a></li>
										<li><a href="/contact-support" title="Contact Support">Contact Support</a></li>
										<li> <a href="/developers" title="Developers">Developers</a>
                                        <li><a href="/acknowledgements" title="Acknowledgements">Acknowledgements</a></li>
                                      </ul>
                                    </li>
                                    <li> <a href="/faq" title="FAQ">FAQ</a> </li>
                                    <li><a href="https://dbpedia-spotlight.github.io/demo/" title="demo">DEMO</a></li>
                                   <li><a href="https://stats.uptimerobot.com/zv1QpHxy6" title="Service status" target="_blank">STATUS</a></li>					    
									</ul>
                                </nav>
                                <nav class="mb_menu hidden">
                                    <ul class="menu_for_mobile">
                                        <li class="active"><a href="/" title="Home">Home</a></li>
									<li>
										<a href="/publications" title="Publications">Publications</a>
									</li>
									<li> <a href="#" title="Documentation">Documentation</a>
                                      <ul class="sub_menu">
										<li><a href="/getting-started" title="Getting Started">Getting Started</a></li>
										<li><a href="/spotlight-api" title="API">API</a></li>
										<li><a href="/licenses" title="Licenses">Licenses</a></li>
										<li><a href="/contact-support" title="Contact Support">Contact Support</a></li>
										<li> <a href="/developers" title="Developers">Developers</a>
                                        <li><a href="/acknowledgements" title="Acknowledgements">Acknowledgements</a></li>
                                      </ul>
                                    </li>
                                    <li> <a href="/faq" title="FAQ">FAQ</a> </li>
                                    <li><a href="https://dbpedia-spotlight.github.io/demo/" title="demo">DEMO</a></li>
			           <li><a href="https://stats.uptimerobot.com/zv1QpHxy6" title="Service status" target="_blank">STATUS</a></li>
                                    </ul>
                                </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>	
</header>



